COMPONENTS_PAGE=on
DATABASE_URL=postgres://postgres:postgres@localhost:5432/alex
NUXT_AUTH_JS_SECRET=auth-secret-token
NUXT_BASE_URL=http://localhost:3000
SENDGRID_KEY=sendgri-key
SENDGRID_FROM=alexprojeto00@gmail.com
VERCEL_TOKEN=vercel-token
