DATABASE_URL=postgres://postgres:postgres@localhost:5432/alex
NUXT_AUTH_JS_SECRET=auth-secret-token
NUXT_BASE_URL=http://localhost:3000
NUXT_PUBLIC_AUTH_JS_BASE_URL=http://localhost:3000 # optional (default NUXT_BASE_URL)
NUXT_PUBLIC_MATOMO_APP_ID=matomo-app-id
NUXT_PUBLIC_MATOMO_URL=matomo-url
NUXT_PUBLIC_OPEN_AI_KEY=open-api-key
NUXT_PUBLIC_SHOW_COMPONENTS_PAGE=on
SENDGRID_FROM=alexprojeto00@gmail.com
SENDGRID_KEY=sendgrid-key
VERCEL_TOKEN=vercel-token
