label.theme--dark + input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important; /* inherit only works in Safari */
  -webkit-text-size-adjust: inherit !important;
}

label.theme--light + input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important; /* inherit only works in Safari */
  -webkit-text-size-adjust: inherit !important;
}

/* When dark theme, then make keychain icon white */
label.theme--dark + input::-webkit-credentials-auto-fill-button {
  background-color: #fff !important;
}

/* Hide credentials-auto-fill-button in password inputs, only visible on other inputs */
input[type='password']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}



// Reset extra px of icon button
$btn-icon-density: (
  'compact': -12px,
  'comfortable': -8px,
  'default': 0px,
);

@each $name, $size in $btn-icon-density {
  .v-btn--icon.v-btn--density-#{$name} {
    width: calc(var(--v-btn-height) + $size);
    height: calc(var(--v-btn-height) + $size);
  }
}


.v-dialog.custom-alex-dialog > .v-overlay__content {
  max-height: calc(100vh - 160px);
};

@supports(max-height: calc(100svh - 160px)) {
  .v-dialog.custom-alex-dialog > .v-overlay__content {
    max-height: calc(100svh - 160px);
  };
}

$colors-scrollBar: (white, 'gray-blue', 'gray-100');

@each $color in $colors-scrollBar {
  .alex-scrollbar-#{$color}::-webkit-scrollbar {
    width: 6px;
  }
  
  .alex-scrollbar-#{$color}::-webkit-scrollbar-thumb {
    background-color: #abb2b9;
    border-radius: 999px;
  }
  
  .alex-scrollbar-#{$color}::-webkit-scrollbar-track {
    background-color: rgb(var(--v-theme-#{$color})) !important;
  }
  
}

// Dialog Stepper
.max-height-stepper {
  max-height: calc(100svh - 392px);
  overflow-y: auto;
}