@use 'sass:list';
label.theme--dark + input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important; /* inherit only works in Safari */
  -webkit-text-size-adjust: inherit !important;
}

label.theme--light + input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important; /* inherit only works in Safari */
  -webkit-text-size-adjust: inherit !important;
}

/* When dark theme, then make keychain icon white */
label.theme--dark + input::-webkit-credentials-auto-fill-button {
  background-color: #fff !important;
}

/* Hide credentials-auto-fill-button in password inputs, only visible on other inputs */
input[type='password']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

// Reset extra px of icon button
$btn-icon-density: (
  'compact': -12px,
  'comfortable': -8px,
  'default': 0px,
);

@each $name, $size in $btn-icon-density {
  .v-btn--icon.v-btn--density-#{$name} {
    width: calc(var(--v-btn-height) + $size);
    height: calc(var(--v-btn-height) + $size);
  }
}

//
@for $i from 1 through 10 {
  .lines-#{$i} {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
    line-clamp: $i;
  }
}

.ellipsis {
  display: -webkit-box;
  padding: 0;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  line-height: inherit;
}

.v-dialog.custom-alex-dialog > .v-overlay__content {
  --padding-top-bot: 160px;
  max-height: calc(100vh - var(--padding-top-bot));
}

@supports (max-height: calc(100svh - var(--padding-top-bot))) {
  .v-dialog.custom-alex-dialog > .v-overlay__content {
    max-height: calc(100svh - var(--padding-top-bot));
  }
}

$colors-scrollBar: ('white', 'gray-blue', 'gray-100');

@each $color in $colors-scrollBar {
  .alex-scrollbar-#{$color}::-webkit-scrollbar {
    width: 6px;
  }

  .alex-scrollbar-#{$color}::-webkit-scrollbar-thumb {
    background-color: #abb2b9;
    border-radius: 999px;
  }

  .alex-scrollbar-#{$color}::-webkit-scrollbar-track {
    background-color: rgb(var(--v-theme-#{$color})) !important;
  }
}

// Dialog Stepper
.max-height-stepper {
  --header: 80px;
  --footer: 80px;
  --stepper: 84px;
  --padding-top-bot: 170px; // 16.16%;
  --total: calc(
    var(--header) + var(--footer) + var(--stepper) + var(--padding-top-bot)
  );
  max-height: calc(100svh - var(--total));
  overflow-y: auto;
}

@media screen and (max-width: 599px) {
  .v-dialog.custom-alex-dialog {
    align-items: flex-end;
    margin-top: 80px;
  }
  .v-dialog.custom-alex-dialog > .v-overlay__content {
    width: 100% !important;
  }
  .v-dialog.custom-alex-dialog > .v-overlay__content {
    --padding-top-bot: 80px;
    margin: 0;
    margin-top: 80px;
    max-height: calc(100vh - var(--padding-top-bot));
  }
  .max-height-stepper {
    --padding-top-bot: 145px;
  }
}

/* Autocomplete inputs */
.v-input.dark input:-webkit-autofill,
.v-input.dark input:-webkit-autofill:hover,
.v-input.dark input:-webkit-autofill:focus,
.v-input.dark textarea:-webkit-autofill,
.v-input.dark textarea:-webkit-autofill:hover,
.v-input.dark textarea:-webkit-autofill:focus,
.v-input.dark select:-webkit-autofill,
.v-input.dark select:-webkit-autofill:hover,
.v-input.dark select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 3000px rgb(var(--v-theme-primary-0)) inset !important;
  -webkit-text-fill-color: white !important;
}
.v-input input:-webkit-autofill,
.v-input input:-webkit-autofill:hover,
.v-input input:-webkit-autofill:focus,
.v-input textarea:-webkit-autofill,
.v-input textarea:-webkit-autofill:hover,
.v-input textarea:-webkit-autofill:focus,
.v-input select:-webkit-autofill,
.v-input select:-webkit-autofill:hover,
.v-input select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 3000px #fff inset !important;
}

@for $size from 2 through 256 {
  .width-#{$size} {
    width: $size * 4px;
  }
  .height-#{$size} {
    height: $size * 4px;
  }
}

// Custom text properties
.text-break-all {
  word-break: break-all;
}

@for $size from 2 through 256 {
  .min-w-#{$size} {
    min-width: $size * 4px;
  }
  .min-h-#{$size} {
    min-height: $size * 4px;
  }
}

@media screen and (max-width: 599px) {
  .footer-buttons {
    width: 100%;
  }
}