/* Sen */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sen/Sen-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/sen/Sen-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/sen/Sen-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/sen/Sen-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/sen/Sen-ExtraBold.ttf') format('truetype');
}