@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';

$body-font-family: 'Montserrat', sans-serif !default;
$heading-font-family: $body-font-family !default;

$typography: () !default;
$typography: map.deep-merge(
  (
    'h7': (
      'size': 2rem,
      'weight': 700,
      'line-height': 2rem,
      'letter-spacing': 0.0125em,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
  ),
  $typography
);

$flat-typography: () !default;
@each $type, $values in $typography {
  $flat-typography: map.deep-merge(
    $flat-typography,
    (#{$type}: map.values($values))
  );
}
